.quienes{
    padding: 5rem;
    text-align: center;
}
.quienes__titulo{
    color: #da2b1f;
    font-family: pacifico, cursive;
    font-weight: 400;
    font-size: 3.1rem;
    margin-bottom: 1rem;
}
.quienes__descripcion{
    color: #8C8888;
    font-size: 1.75rem;
    font-weight: 100;
    
}
.personas{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}
.persona{
    display: flex;
    flex-direction: column;

}
.persona__imagen{
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
} 
.persona__imagen--roberta{
    background-image: url(../img/personas/roberta.jpg);
}
.persona__imagen--marcela{
    background-image: url(../img/personas/marcela.jpg);
}
.persona__imagen--andreia{
    background-image: url(../img/personas/andrea.jpg);
}
.persona__nombre{
    color: #da2b1f;
    font-family: pacifico,cursive;
    font-size: 2rem;
    margin: 1rem 0; 
}
.persona__funcion{
    color: #8C8888;
    font-size: 1.25rem;
    text-transform: lowercase;
}

@media screen and (min-width:0){
  .personas{
    flex-direction: column;
    
  }
  .persona{
    margin-bottom: 2rem;

  }
  .persona__imagen--andreia{
    margin: 0;
    align-self: center;
  }
  .persona__imagen--marcela{
    margin: 0;
    align-self: center;
  }
  .persona__imagen--roberta{
    margin: 0;
    align-self: center;
  }
}
@media screen and (min-width:992px){
    .personas{
        flex-direction: row;

        
    }
    .persona{
       margin-bottom: 0;
    }
}