.sobre{
    
    text-align: center;
}
.sobre_titulo{
    color: #DA2B1F;
    font-family: pacifico,cursive;
    
}
.sobre_texto{
    color: #8C8888;
    font-weight:100;
     
}
@media screen and (min-width:0){ 
    .sobre{
        padding: 2.5rem 1rem;
    }
    .sobre_titulo{
        font-size: 2rem;
    }
    .sobre_texto{
        font-size: 1.3rem;
    }
}
@media screen and (min-width:768px){
    .sobre{
        padding: 2.5rem;
    }
    .sobre_titulo{
        font-size: 3.1875rem;
    }
    .sobre_texto{
        font-size: 1.75em;
    }
  
}
