.receta__boton{
    background: #da2b1f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    transition: all .1s ease-in-out;

}

.receta__boton:hover{
    cursor: pointer;
    background: #9f1010;
}